@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,vietnamese);
body {
    /*padding-top: 115px;*/
    font-family: "Roboto", sans-serif !important;
/*    background-image: url('../dist/img/bgr.png');*/
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}