RewriteEngine on
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php
DirectoryIndex index.php
RedirectMatch 404 /\.git
RedirectMatch 404 /vendor
RedirectMatch 404 /controllers
RedirectMatch 404 /models
RedirectMatch 404 /config
<IfModule mod_headers.c>
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"
</IfModule>